@import "tailwindcss";
@config "../tailwind.config.ts";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Geist", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}

body {
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;

  /* Clean gradient background — white to soft blue */
  background: linear-gradient(180deg, #ffffff, hwb(189 71% 0%));
  background-attachment: fixed;
  min-height: 100vh;
}